name: Build DiNGo APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm install
      - run: npx cap init dingo com.KGames.dingo --web-dir=.
      - run: npx cap add android
      - run: npx cap copy

      - name: Build APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: DiNGo-APK
          path: android/app/build/outputs/apk/debug/app-debug.apk
